@font-face {
    font-family: NuosuSIL-Regular;
    src: url(NuosuSIL-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: NuosuSIL-Regular;
    scroll-behavior: smooth;
}
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 50px;
    width: 50px; 
    z-index: 98; 
    border: none; 
    outline: none; 
    background-color: #009be2;
    padding: 5px;
    border-radius: 50%;
    color: white;
}
#logo {
    width: 100px;
}
.header {
    background-color: #0099ff;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.header a {
    font-size: 30px;
    text-decoration: none;
    color: darkgreen;
    margin: 5px;
    transition: .4s;
}
.header a:hover {
    color: greenyellow;
    transition: .4s;
}
.header p {
    font-size: 30px;
    width: 400px;
    font-weight: bold;
}
.header div {
    height: 90px;
    display: flex;
    flex-direction: row;
}
.header div:hover {
    cursor: pointer;
}
.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 40px;
    margin-top: 40px;
}
#home-1 {
    width: 100%;    
    margin: 5px;
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px;
}
#home-1 h1 {
    font-size:  50px;
    font-weight: 100;
    padding-bottom: 25px;
    line-height: 60px;
    letter-spacing: 6px;
}
#home-1 p {
    font-size: 25px;
    padding-bottom: 35px;
    line-height: 40px;
}
.readMore {
    text-decoration: none;
    font-size: 25px;
    color: yellow;
    border: 2px solid yellow;
    padding: 5px 10px;
    position: relative;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.readMore::before, .readMore::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: inherit;
    transition: all .5s;
}
.readMore::before{
    top: -10px;
    left: -10px;
    border-width: 2px 0 0 2px;
}
.readMore::after{
    bottom: -10px;
    right: -10px;
    border-width: 0 2px 2px 0;
}
.readMore:hover:before, .readMore:hover:after {
    width: calc(100% + 18px);
    height: calc(100% + 18px);
}
#home-2, #home-2 img {
    width: 100%;
    border-radius: 50px;
}
#home-2 a {
    font-size: 18px;
    text-decoration: none;
    font-style: italic;
    color: green;
    margin: 5px;
}
#home-2 a:hover {
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    color: yellow;
    cursor: pointer;
}
.chapters {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    width: 90%;
}
#chapters-1 {
    width: 100%;
    margin: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
#chapters-1 h2 {
    font-size:  45px;
    font-weight: 100;
    padding-bottom: 25px;
    line-height: 60px;
    letter-spacing: 6px;
}
#chapters-1 p {
    font-size: 25px;
    padding-bottom: 35px;
    line-height: 25px;
}
#chapters-2, #chapters-2 img {
    width: 100%;
    border-radius: 20px;
}
#chapters-2 a {
    font-size: 18px;
    text-decoration: none;
    font-style: italic;
    color: green;
    margin: 5px;
}
#chapters-2 a:hover {
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    color: yellow;
    cursor: pointer;
}
.programs {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 50px;
    background-size: 100%;
    padding-bottom: 20px;
    text-align: left;
}
.programs h3 {
    font-size:  30px;
    padding-bottom: 15px;
    line-height: 45px;
    letter-spacing: 5px;
    word-spacing: 6px;
}
.programs p {
    font-size: 20px;
    padding-bottom: 5px;
    line-height: 30px;
}
.programs a {
    font-size: 18px;
    text-decoration: none;
    font-style: italic;
    color: green;
    margin: 5px;
}
.programs a:hover {
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
    color: yellow;
    cursor: pointer;
}
.news-events {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#news-events-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid yellow;
    width: 100%;
    background-color: rgba(218, 255, 30, 0.7);
    color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
#news-events-1 h2 {
    font-size: 30px;
    letter-spacing: 5px;
}
#news-events-1 p {
    font-size: 20px;
    line-height: 25px;
}

#news-events-1 a {
    font-size: 15px;
    text-decoration: none;
    font-style: italic;
    color: green;
    margin: 5px;
}
#news-events-1 a:hover {
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
#news-events-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid yellow;
    width: 100%;
    margin: 10px;
    background-color: rgba(218, 255, 30, 0.7);
    color: black;
    border-radius: 20px;
    padding: 20px;
}
#news-events-2 h2 {
    font-size: 30px;
    letter-spacing: 5px;
}
#news-events-2 p {
    font-size: 20px;
    line-height: 25px;
}
#news-events-2 img, #news-events-1 img {
    width: 100%;
    border-radius: 12px;
    margin-top: 20px;
}
#news-events-2 a {
    font-size: 15px;
    text-decoration: none;
    font-style: italic;
    color: green;
    margin: 5px;
}
#news-events-2 a:hover {
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0);
}
footer p {
    font-size: 20px;
    color: #ffffff
}
/* responsive */
@media only screen and (max-width: 730px) {
    #logo {
        width: 50px;
    }
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;
        background-color: #0099ff;
    }
    
    .header a {
        font-size: 19px;
    }
    .header nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .header p {
        font-size: 20px;
        width: 300px;
        font-weight: bold;
    }
    .header div {
        height: 50px;
        display: flex;
        flex-direction: row;
    }
    .header div:hover {
        cursor: pointer;
    }
    .home, .chapters {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 0;
    }
    
    #home-1 h1, #chapters-1 h1 {
        font-size:  30px;
        padding-bottom: 15px;
        letter-spacing: 5px;
    }
    #home-1 p, #chapters-1 p {
        font-size: 20px;
        padding-bottom: 5px;
    }
    #home-2, #home-2 img, #chapters-2, #chapters-2 img {
        width: 100%;
        border-radius: 20px;
    }
    #home-2 a, #chapters-2 a {
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        font-style: italic;
        color: green;
        transition: .4s;
    }
    #home-2 a:hover, #chapters-2 a:hover {
        transition: .4s;
        font-size: 15px;
        text-decoration: underline;
        color: yellow;
        cursor: pointer;
    }
    .programs {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: 74%;
        align-items: center;
        border-radius: 50px;
        background-size: 100%;
        padding-bottom: 20px;
        text-align: left;
    }
    .programs h3 {
        font-size:  30px;
        text-align: left;
        padding-bottom: 15px;
        line-height: 45px;
        letter-spacing: 5px;
        word-spacing: 6px;
    }
    .programs p {
        font-size: 20px;
        padding-bottom: 5px;
        line-height: 30px;
    }
    .programs a {
        font-size: 18px;
        text-decoration: none;
        font-style: italic;
        color: green;
        margin: 5px;
    }
    .programs a:hover {
        font-size: 18px;
        font-style: italic;
        text-decoration: underline;
        color: yellow;
        cursor: pointer;
    }
    .news-events {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #news-events-1 {
        border: 2px solid yellow;
        width: 100%;
        margin-bottom: 25px;
        background-color: rgba(218, 255, 30, 0.7);
        color: black;
        border-radius: 20px;
        padding: 20px;
    }
    #news-events-1 h2 {
        font-size: 30px;
        letter-spacing: 5px;
    }
    #news-events-1 p {
        font-size: 20px;
        line-height: 25px;
    }
    #news-events-1 a {
        font-size: 18px;
        text-decoration: none;
        font-style: italic;
        color: green;
        margin: 5px;
    }
    #news-events-1 a:hover {
        font-size: 18px;
        font-style: italic;
        text-decoration: underline;
        color: white;
        cursor: pointer;
    }
    #news-events-2 {
        border: 2px solid yellow;
        width: 100%;
        margin-bottom: 25px;
        background-color: rgba(218, 255, 30, 0.7);
        color: black;
        border-radius: 20px;
        padding: 20px;
    }
    #news-events-2 h2 {
        font-size: 30px;
        letter-spacing: 5px;
    }
    #news-events-2 p {
        font-size: 20px;
        line-height: 25px;
    }
    #news-events-2 img {
        width: 100%;
        border-radius: 12px;
        margin-top: 20px;
    }
    #news-events-2 a {
        font-size: 15px;
        text-decoration: none;
        font-style: italic;
        color: green;
        margin: 5px;
    }
    #news-events-2 a:hover {
        font-size: 15px;
        font-style: italic;
        text-decoration: underline;
        color: white;
        cursor: pointer;
    }
}




/* Background */
html {
    height:100%;
} 
body {
    margin:0;
} 
.bg {
    animation:slide 18s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #66cc33 50%, #0099ff 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
} 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:19s;
} 
.bg3 {
    animation-duration:20s;
}
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}
/* preloader */
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #0099ff;
}
.spinner{
    width: 80px;
    height: 80px;
    border: 10px solid yellow;
    border-radius: 50%;
    border-top: 10px solid rgb(17, 255, 17);
    animation: spin 3s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}
body::-webkit-scrollbar {
    width: 7px;              
}
  
body::-webkit-scrollbar-track {
    background: #3EC70B;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #0099ff;   
    border-radius: 5px; 
    height: 30px;      
}